div.left ul {
margin-top:20px;
margin-left: 0;
list-style: none;
}
div.left ul a {
text-decoration: none;
font-size: 16pt;
font-weight:bold;
color: #996633;
}	
div.left li{
margin-bottom:15px;
text-align: center;
}
div.left li a {
display: block;
}
div.left li a:hover,
div.left li a:focus {
text-decoration: none;
background-color: #eee;
}
