/* rgb(223,234,240) #rgb(118,216,227) #rgb(84,139,156)
rgb(111,184,121) #rgb(170,217,165) #rgb(221,247,200)
*/
a {color: rgb(0,0,0);}
img {border:none;}
superheadtext {margin-top: 12px; font-family: calibri; font-size: 18pt; font-style: italic; text-decoration: underline; color: rgb(0,0,0); font-weight: bold; text-align: center; margin-bottom: 5px; padding: 0} 
h1 {margin-top: 12px; font-family: verdana; font-size: 16pt; color: rgb(0,0,0); font-weight: bold; text-indent:0px; text-align: center;} 
h2 {margin-top: 12px; font-family: verdana; font-size: 14pt; color: rgb(0,0,0); font-weight: bold; text-indent:0px; text-align: center;} 
h3 {margin: 12px 0px; font-family: arial; font-size: 22pt; font-style: italic; text-decoration: underline; font-weight: bold; color: rgb(0,0,0);}
strong { font-weight: bold; }

html, body{
background-color: white;
}

.wrap {
position: relative;
width: 100%;
margin:auto;
padding-top: 1px;
padding-left: 5px;
padding-right: 12px;
background-color: white;
}

.header{
text-align:right;
font-family: calibri;
font-size: 20px;
font-style: italic;
padding-bottom: 100px;
}
.header img.foto {
height: 220px;
}
.header img.foto0 {
height: 0px;
}
.header img.stripe {
margin-top: 8px;
height: 43px;
z-index: -100;
}
.header ul.lang {
margin-top: -37px;
text-align:center;
font-size: 2px;
margin-left:0px;
}
.header ul.lang  img{
height: 30px;
}

.header ul.lang li {
display: inline;
padding-right:20px;
}
.col1 {
float:left;
width: 100%;
font-family: times new roman;
}
.col1 a {
text-decoration: none;
}
.col2 {
width: 100%;
margin-bottom: 50px;
margin-left: 0px;
padding-left: 10px;
text-align: left;
font-family: verdana;
font-size: 20px;
text-indent:50px;
}
.col2 ul {
text-indent:0px; 
}
.col3 {
#margin-top: 100px;
margin-left: 10px;
margin-right: 5px;
width: 100%;
text-align: center;
color: rgb(81,88,98);
font-size: 20px;
}
.col3 img{
height:40px;
margin-left:10px;
}
.bottom{
position:fixed;
bottom:0px;
width: 98%;
text-align: center;
padding-bottom:3px;
color: rgb(81,88,98);
background-color: white;
font-size: 18px;
}
.block{
text-align: right;
#margin-top: -18px;
padding: 0px 0px 0px 0px;
}