a {
text-decoration: none;
}
img {
border:none;
}
h1 {
margin-top: 15px; font-family: times new roman; font-size: 20pt; color: rgb(0,0,0);
} 
div {
font-family: verdana;
}

.wrap {
position: relative;
width: 70%;
margin:auto;
}
.header{
text-align:right;
height: 20px;
}
.header ul.lang li {
display: inline;
margin-left:5px;
}
.col1 {
float:left;
width: 220px;
position: fixed;
font-family: times new roman;
}
.col2 {
float: left;
margin-left: 230px;
}
.col3 {
float: right;
text-align: center;
}
.bottom{
float: left;
width: 100%;
text-align: center;
margin-top:20px;
color: #996633;
}
