/* rgb(223,234,240) #rgb(118,216,227) #rgb(84,139,156)
rgb(111,184,121) #rgb(170,217,165) #rgb(221,247,200)
*/
a {color: rgb(0,0,0);}
img {border:none;}
superheadtext {margin-top: 12px; font-family: calibri; font-size: 44pt; font-style: italic; text-decoration: underline; color: rgb(0,0,0); font-weight: bold; text-align: center; margin-bottom: 5px; padding: 0} 
h1 {margin-top: 12px; font-family: verdana; font-size: 16pt; color: rgb(0,0,0); font-weight: bold; text-indent:0px; text-align: center;} 
h2 {margin-top: 12px; font-family: verdana; font-size: 14pt; color: rgb(0,0,0); font-weight: bold; text-indent:0px; text-align: center;} 
h3 {margin: 12px 0px; font-family: arial; font-size: 22pt; font-style: italic; text-decoration: underline; font-weight: bold; color: rgb(0,0,0);}
strong { font-weight: bold; }

html, body{
background-color: white;
}

.wrap {
position: relative;
#width: 70%;
width: 1000px;
margin:auto;
padding-top: 1px;
padding-left: 5px;
padding-right: 12px;
background-color: white;
}

.header{
text-align:right;
height: 220px;
font-family: calibri;
font-size: 24px;
font-style: italic;
margin-bottom: 50px;
}
.header img.foto, img.foto0 {
height: 220px;
}
.header img.stripe {
margin-top: 8px;
width: 100%;
height: 23px;
z-index: -100;
}
.header ul.lang {
margin-top: -18px;
margin-left: 80px;
text-align:left;
font-size: 2px;
}
.header ul.lang li {
display: inline;
margin-right:5px;
}
.col1 {
float:left;
width: 190px;
font-family: times new roman;
}
.col1 a {
text-decoration: none;
}
.col2 {
margin-left: 230px;
margin-right: 245px;
margin-bottom: 50px;
padding-left: 10px;
text-align: left;
font-family: verdana;
font-size: 14px;
text-indent:50px;
}
.col2 ul {
text-indent:0px; 
}
.table1 {
text-indent:0px;
text-align: right; 
}
.col2 div {
text-align: center;
}
.col2 button {
align-items: flex-start;
text-align: center;
cursor: default;
color: buttontext;
background-color: buttonface;
box-sizing: border-box;
border-width: 2px;
border-style: outset;
border-color: buttonface;
border-image: initial;
display: inline-block;
width: 170px;
}
input {
margin: 2px 0px 1px 5px; 
}
.col3 {
margin-left: 10px;
float: right;
width: 230px;
text-align: center;
color: rgb(81,88,98);
}
.col3 img{
height:24px;
}
.bottom{
position:fixed;
bottom:0px;
width: 1000px;
text-align: center;
padding-bottom:3px;
color: rgb(81,88,98);
background-color: white;
}
.block{
text-align: right;
margin-top: -18px;
padding: 0px 0px 0px 0px;
}